@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
 }

*, :after, :before {
    box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', serif;
  background-color: #ffce36;
}

nav {
  top:  0;
  width:  100%;
  height:  70px;
  background-color:  #050601;
  position:  fixed;
  font-family: 'Krona One';
  font-size: 12px;
}

.logo {
  position:  absolute;
  padding:  0px;
  float:  left;
  margin-left:  2%;
  margin-top:  -5px;
}

.logo img {
  width: auto;
  height: 70px;
}

.menu {
  width:  auto;
  float:  right;
  margin-top:  8px;
}

nav li {
  display:  inline-block;
  padding:  15px 30px;
}

nav a {
  background-image: linear-gradient(
    to right,
    #ffce36,
    #ffce36 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

nav a:active {
  color: #ffce36;
}

nav a:before {
  content: '';
  background: #ffce36;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-position: 0;
}

nav a:hover::before {
  width: 100%;
}

.hamburger {
  display:  none;
  cursor; pointer;
}

.bar {
  display:  block;
  width:  25px;
  height:  3px;
  margin:  5px auto;
  -webkit-transition:  all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.banner-area {
  background-image:  url(banner.png);
  background-size:  cover;
  background-position:  center center;
  height: 120vh;
  width: 100%;
  opacity:  1;
}

.banner {
  font-family:  'Fira Sans';
  position:  absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align:  center;
  color: #fff;
  font-weight: 700;
  text-transform:  uppercase;
  font-size:  40px;
}

#requirements {
  background-color: pink;
  color: black;
  padding:  10px;
  padding-top: 20px;
}


#main-heading {
  display: block;
  padding:  30px 25%;
  z-index: 2;
  font-size: 38px;
}
.main_content hr {
  margin: 0 25%;
}

#task {
  padding:  15px 25% 50px;
  font-size: 18px;
}

#task h2 {
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

[id="task_box"] {
  margin: 15px 0;
  display: flex;
  flex-direction: row-reverse;
}

#pict1 {
  margin-left: 20px;
  width: auto;
  height: 180px;
}

#requirements {
  display: block;
  padding:  50px 25%;
  color:  white;
  width:  100%;
  background-color: #5d5d60;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  font-size: 18px;
}
#requirements h2 {
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
#textblock {
  padding-top: 15px;
}

#submission {
  display: block;
  padding:  50px 25%;
  font-size: 18px;
}
#submission h2 {
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
#submission img {
  width: 320px;
  height: auto;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

#grading {
  display: block;
  padding:  50px 25%;
  font-size: 18px;
  background-color: #5d5d60;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  color:  white;
  z-index: -1;
}
#grading h2 {
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
#grading table {
  margin-top: 15px;
  width: 100%;
}
#grading table th {
  text-align: left;
  line-height: 35px;
}

.aside {
  display: block;
  padding:  50px 25%;
  font-size: 18px;
}
.aside h3:first-of-type {
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
.aside_content {
  margin-bottom: 15px;
}

#footer {
  display: flex;
  padding: 30px 25%;
  justify-content: space-between;
  background-color: black;
  color:  white;
}
#footer h5 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

@media screen and ((min-width: 768px) and (max-width: 1023px)) {
  div.banner {
    font-size: 1.5em;
    position:  absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:  center;
  }
  nav li {
    display: block;
    text-align:  center;
  }
  .hamburger{
    display:  block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:  0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu {
    position:  fixed;
    left:  -100%;
    top:  20px;
    gap:  0;
    flex-direction: column;
    background-color:  black;
    width: 100%;
    text-align:  center;
    transition:  0.3s;
  }
   .nav-item {
    margin: 10px 0;
    padding-right: 8%;
  }
  .menu.active{
    left:  0;
  }
  nav {
    height: auto;
    justify-content: left;
  }
  
  .signin {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
  }
  .logo img {
    width: auto;
    height: 32px;
  }
  
  .main_content {
    width: 100%;
    font-size: 0.8em;
  }
  [id="task_box"] {
  display: block;
  }
  #pict1 {
    max-width: 100%;
    height: 20vh ;
  }
  body {
    font-size: 1em;
  }
  div.banner {
    font-size: 2em;
  }
  .main_content {
    font-size: 0.8em;
  }
  aside {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }
  div.banner {
    font-size: 1.5em;
    position:  absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:  center;
  }
  nav li {
    display: block;
  }
  
  #task h2, #requirements h2, #submission h2, #grading h2 {
    font-size: 1.5em;
  }
  #hr3 {
    font-size: 1.5em;
  }

  .contracts {
    font-size: 1em;
  }
  .main_content {
    width: 100%;
    font-size: 0.8em;
  }

  #grading {
    font-size: 0.8em;
  }
  #submission {
    font-size: 0.8em;
  }
  #requirements {
    font-size: 0.8em;
  }
  #task {
    font-size: 0.8em;
  }
  .aside {
    font-size: 0.8em;
  }
  .hamburger{
    display:  block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity:  0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu {
    position:  fixed;
    left:  -100%;
    top:  20px;
    gap:  0;
    flex-direction: column;
    background-color:  black;
    width: 100%;
    text-align:  center;
    transition:  0.3s;
  }

  .logo img {
  width: auto;
  height: 30px;
  }

  .nav-item {
    margin:  16px 0;
    padding-right: 12%;
  }
  .menu.active{
    left:  0;
 }
  .banner-area {
    max-width: 100%;
    height: 60vh;
  }
  
  #gphoto {
    max-width: 100%;
    height: auto;
  }
  
  #pict1 {
    max-width: 100%;
    height: 12vh;
  }

  [id="task_box"] {
  display: block;
  }
  
  nav {
    height: auto;
    justify-content: left;
  }
  
  .signin {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
  }
  .main_content {
    width: 100%;
    font-size: 0.8em;
  }
  #grading {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  aside {
    width: 100%;
    font-size: 0.8em;
  }
  #footer {
  display: block;
  background-color: black;
  color:  white;
  }

  footer iframe {
    margin-top: 1em;
    width: 15vh;
    height: auto;
  }
}