:root{
    --accent: #fd8303;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    position: relative;
    overflow-x: hidden !important;
    overflow-y: scroll;
    background: #111111;
    color: white;
}
.wrapper{
    position: relative;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 7px; /* ширина нового скроллбара */
    border-radius: 50px;
    background: rgba(31, 31, 31, 0.745);
} 
::-webkit-scrollbar-thumb {
    border-radius: 8px; /* скругление углов */
    border: 7px solid #343434; /* толщина, стиль и цвет рамки */
}
a{
    color: white;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
button{
    border: none;
    background: transparent;
}
img, a{
    display: block;
}
.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}
/*header*/
.header{
    padding: 20px 0;
    width: 100%;
}
.header-logo{
    display: flex;
    align-items: center;
    z-index: 102 !important;
}
.header-logo p{
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}
.header-logo img{
    width: 25px;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.nav-link{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: all 0.2s;
}
.nav-link:hover{
    color: var(--accent);
}
.nav-link span{
    margin-right: 5px;
    color: #98e8cd;
}
.nav-link:not(:last-child){
    margin-right: 50px;
}
.header-abs a{
    margin-bottom: 10px;
    display: block;
    font-size: 1.25rem;
    transition: all 0.3s;
}
.header-abs{
    position: absolute;
    left: 2%;
    top: calc(50% - 160px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}
.header-abs a img{
    transition: all 0.3s;
}
.header-abs a:hover{
    transform: scale(1.3);
    color: var(--accent);
}
.header .menu__wrapper {
    display: none
}
body.lock {
    overflow: hidden
}
.header__mob-wrp{
    display: none;
}
@media(max-width:1085px){
    .container{
        padding: 0 5%;
        max-width: none;
    }
    .s1-item {
        display: grid;
        grid-template-columns: repeat(2, 300px) !important;
        column-gap: 50px;
    }
}
@media(max-width:780px){
    .s1-item {
        display: grid;
        grid-template-columns: repeat(2, 250px) !important;
        column-gap: 10px !important;
    }
    .s1-item-part{
        height: 70px !important;
    }
}
@media(max-width:656px){
    .header-nav{
        display: none;
    }
    .header__wrapper {
        position: relative;
    }
    .header__mob-wrp {
        display: block;
        z-index: 101;
        padding: 0 20px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #111111;
        transition: left .3s;
        overflow: auto;
        
    }
    .header__mob-wrp.active3 {
        left: 0;
    }
    .header__mob-wrp::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 103;
    }
    .header__mob-wrp .menu__wrapper {
        display: block;
        margin-top: 100px;
    }
    .header__menu {
        display: block;
        z-index: 103;
        position: relative;
        cursor: pointer;
        width: 40px;
        height: 25px !important;
    }
    .header__menu span {
        left: 0;
        position: absolute;
        width: 80%;
        height: 8% !important;
        transition: all .3s ease;
        background: #ffffff;
        top: 50%;
        transform: scale(1) translate(0, -50%);
        border-radius: 5px;
    }
    .header__menu:after,
    .header__menu:before {
        content: " ";
    }
    .header__menu::before {
        top: 0;
    }
    .header__menu::after {
        bottom: 0;
    }
    .header__menu::after,
    .header__menu::before {
        left: 0;
        position: absolute;
        width: 80%;
        height: 8% !important;
        transition: all .3s ease;
        background: white;
        border-radius: 5px;
    }
    .header__menu.active3 span {
        transform: scale(0) translate(0, -50%)
    }
    .header__menu.active3::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%)
    }
    .header__menu.active3::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%)
    }
    .menu__wrapper{
        padding: 50px 0;
    }
    .menu__link{
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
    .menu__link i{
        margin-right: 10px;
        color: var(--accent);
    }
}
@media(max-width:560px){
    main{
        padding: 40px 0 0 !important;
    }
    .s1-item{
        grid-template-columns: repeat(2, 200px) !important;
    }
    .s1-item-part{
        font-size: 0.875rem;
        height: 80px !important;
    }
}
@media(max-width:426px){
    .s1-item{
        grid-template-columns: repeat(2, 160px) !important;
    }
    .container{
        max-width: none;
        padding: 0 30px;
    }
    
}
/**footer**/

.footer {
    background: #111111;
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    padding: 50px 0 20px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-info p{
    font-size: 0.875rem;
    font-weight: 500;
}
.footer-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer-media{
    text-align: center;
}
.footer-media h3{
    margin-bottom: 5px;
}
.footer-wrapper .footer-email{
    font-size: 0.875rem;
    color: rgb(217, 212, 212);
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.footer-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 30px;
}
.footer-logo img{
    width: 25px;
    margin-right: 10px;
}
.footer-links{
    font-size: 1.25rem;
    transition: all 0.2s;
}
.footer-links:hover{
    transform: scale(1.1);
    color: var(--accent);
}
.footer-links:not(:last-child) {
    margin-right: 20px;
}
.footer-bottom {
    text-align: center;
    margin-top: 50px;
    font-size: 0.815rem;
}
@media(max-width: 426px){
    .footer-top{
        flex-direction: column;
    }
    .footer-media{
        text-align: left;
        margin-top: 20px;
    }
    .footer-bottom{
        font-size: 0.815rem;
    }
    .footer-info .footer-wrapper{
        flex-direction: column;
    }
    .footer-email{
        margin: 10px 0;
    }
}
main{
    padding: 80px 0 0;
}
.s1-wrapper {
    margin: 0 auto;
    width: fit-content;
}
.s1-item-title {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px white, 0 0 10px rgba(0, 0, 255, 0.422);
}
.s1-item {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    column-gap: 50px;
}
.s1-center{
    display: flex;
    align-items: center;
}
.s1-item-part {
    margin-bottom: 20px;
    height: 50px;
    padding-left: 15px;
    padding-bottom: 5px;
    cursor: pointer;
    box-shadow:
    -1px 0px rgba(5, 76, 190, 0.23), -1px 1px rgba(10, 82, 197, 0.395),
    -2px 1px rgba(17, 87, 199, 0.07), -2px 2px rgba(17, 87, 199, 0.136),
    -3px 5px rgba(17, 87, 199, 0.112), -3px 3px rgba(17, 87, 199, 0.134);
}
.swiper__wrp{
    margin: 50px 0;
}
.team__slider {
    width: 100%;
    height: auto;
}
.swiper-slide video{
    width: 200px !important;
    height: 200px !important;
}
.swiper-slide-active video {
    width: 450px !important;
    height: 100% !important;
}
.team__silde{
    width: 100%;
}
.swiper__wrp {
    position: relative;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: white;
    font-size: 1.5rem;
}

@media(max-width:525px){
    .swiper-button-next,
    .swiper-button-prev{
        top: 0;
        margin-top: 0;
    }
}
